button {
    background-color:teal; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    font-size: large;
    border:2px solid white;
}

input {
    
    background-color:teal;
    width: 100%;
    padding: 12px 20px;
    border:2px solid white;
    box-sizing: border-box;
    border-radius: 40px;
    color: white;
    text-align : right;
    font-size: large;
}

button:active {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(5px);
}
h1{
    
    text-align: center;
    margin:  auto;
    font-size: large;
    margin-top: 150px;
    font-size: large;
}

body{
    background-color: silver;
}

table{
    border-spacing: 20px 10px;
    text-align: center;
    margin:  auto;
    margin-top:50px;
    font-size: large;
    padding: 300 px;
    border:5px solid white;
    background: black;
}