.signupContainer{
    max-width: 420px;
    width: auto;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    padding-bottom: 80px;
    padding-top: 30px;
    
}

.inputField{
    
    transition: border-color .1s ease;
    font-family: graphik;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    display: block;
    width: 90%;
    border: 1px solid #8f8fa1;
    border-radius: 4px;
    color: #000;
    background: #fff;
    box-shadow: none;
    padding: 10px 16px;
    margin:auto;
    margin-bottom: 10px;
    
}

.inputButton{
    border-radius: 8px;
    padding: 8px 16px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: 0 0;
    border: 1px solid transparent;
    background-color: #E62434;
    color:white;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-weight: bold;
    width:90%;
    margin-top:30px;
}

.heading{
    margin-left: 5%;
    font-weight: bold;
}